<div class = "row">
  <div class = "col-md-6">

    <%= simple_form_for @phone do |f| %>

          <%= f.input :marca %>
          <%= f.input :precio %>
          <%= f.input :modelo %>
          <%= f.input :memoria %>
          <%= f.button :submit %>

    <% end %>

</div>