<div class = "row">
  <div class = "col-md-6">

    <%= simple_form_for @laptop do |f| %>

          <%= f.input :marca %>
          <%= f.input :precio %>
          <%= f.input :modelo %>
          <%= f.input :ram %>
          <%= f.input :capacidad %>

          <%= f.button :submit %>

    <% end %>

</div>